@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

p, h2 {
    font-family: 'Open Sans Condensed', arial;
    font-size: 1.5em;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/Assets/Images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.game-container {
    position: relative;
    width: 800px;
    height: 600px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    box-shadow: 0px 0px 20px 25px rgba(30, 134, 51, 0.1);
}

.player, .alien, .bullet {
    position: absolute;
}

.player {
    width: 50px;
    height: 45px;
    background-image: url('/Assets/Images/player.png');
    background-size: cover;
}

.alien {
    width: 50px;
    height: 60px;
    background-image: url('/Assets/Images/alien.png');
    background-size: cover;
    transform: translateZ(0);
}

.bullet {
    width: 15px;
    height: 30px;
    background-image: url('/Assets/Images/bullet.png');
    background-size: cover;
}

.start-game-btn {
    font-size: 1.5em;
    color: #1ba3a5;
    position: absolute;
    background-color: brown;
    padding: 10px 10px;
    border: 2px solid #FFD700;
    cursor: pointer;
    margin: 10px 0;
    display: round;
    font-size: 1.2em;
    z-index: 10;
    pointer-events: auto;
    border-radius: 5px;
}

.alien-bullet {
    width: 20px;
    height: 30px;
    background-image: url('/Assets/Images/alienbullet.png');
    background-size: cover;
    position: absolute;
    z-index: 1000;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.game-title {
    width: 120%; 
    max-width: 1000px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.game-over {
    font-family: 'Open Sans Condensed', fantasy;
    font-size: 10rem;
    color: darkred;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.score {
    font-size: 1.5em;
    color: #1ba3a5;
    position: absolute;
    top: -5px;
    left: 10px;
}

.lives {
    font-size: 1.5em;
    color: #1ba3a5;
    position: absolute;
    top: -5px;
    right: 10px;
}

.game-info-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.game-stats {
    display: flex;
    justify-content: center;
    gap: 20px;
}

select {
    position:absolute;
    font-family: 'Georgia', serif;
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    color: #FFD700;
    padding: 5px 10px;
    border: 2px solid #FFD700;
    cursor: pointer;
    border-radius: 5px;
    left: 5px;
    top: -15px;
}

.game-over-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 5px 0px 22px rgba(245, 16, 20, 0.9);
    color: #f51014;
}

    .game-over-container button {
        position: absolute;
        font-size: 1.5em;
        color: #FFD700;
        background: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 20px 25px rgba(30, 134, 51, 0.1);
        top: 30px;
    }

        .game-over-container button:hover {
            background: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
            box-shadow: 0px 0px 20px 35px rgba(30, 134, 51, 0.1);
            color: #FFD700;
        }

.mute-button {
    position: absolute;
    top: -38px;
    left: 95%;
    transform: translateX(-50%);
    font-family: 'Georgia', serif;
    font-size: 0.7em;
    color: #FFD700;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    border: 2px solid #FFD700;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.mute-button:hover {
        background-color: purple;
}

.easter-egg {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px; 
    cursor: pointer;
}

.high-scores {
    top: 30px;
    position: absolute;
    color: #1ba3a5;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    right: -300px;
    box-shadow: 0px 0px 20px 25px rgba(30, 134, 51, 0.1);
    text-align: center;
}

.high-scores h2 {
        font-size: 2rem;
        margin-bottom:20px;
    }

label[for="playerName"] {
    font-family: 'Georgia', serif;
    font-size: 1.2em;
    color: #1ba3a5;
    margin-right: 10px;
}

#playerName {
    font-size: 1.2em;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border: 2px solid #1ba3a5;
    color: #1ba3a5;
    border-radius: 10px;
}
.start-game-btn {
    margin-top: 20px;
    position: center;
    color: palegoldenrod;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.start-game-btn:hover {
    margin-top: 20px;
    position: center;
    color: palegoldenrod;
    background-color: purple;
}

.end-game-btn {
    font-family: 'Georgia', serif;
    font-size: 1em;
    color: #FFF;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    margin-top: 10px;
}

    .end-game-btn:hover {
        background-color: purple;
    }

.welcome-container {
    position: absolute;
    left: 100px;
    top: 330px;
    width: 400px;
    height: 400px;
    padding: 50px;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    border-radius: 8px;
    color: #F0E68C; /* Gold text color */
    font-family: 'Cinzel', serif; /* Stylish font */
    font-size: 18px;
    z-index: 5;
}